<nav class="flex justify-between items-center w-full p-10">
    <h1 class="text-3xl font-bold"> 
        <a href="/">
            Fake Blog Site
        </a>
    </h1>
    <ul class="flex items-center space-x-10 text-base font-medium">
        <li>
            <a href="/blogs">
                BLOGS
            </a>
        </li>
        <li>
            <a href="/about">
                ABOUT
            </a>
        </li>
        <li>
            <a href="/blog/new">
                CREATE
            </a>
        </li>
    </ul>

</nav>