<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

    <body class="mx-auto container">
        <%- include("./partials/nav.ejs") %>
            <p class="p-10 text-xl font-medium">Opps, this page is currently not found, return Home...</p>
        <%- include("./partials/footer.ejs") %>
    </body>

</html>